@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
}

h1, h3, h2 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 750;
}

#home h2 {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.homepage h1 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 800;
}

.contact {
  font-family: "Inter Tight", sans-serif;
  font-weight: 800;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}


@keyframes fade-in {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fade-in-scale {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes text-blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-fade-in {
  animation: fade-in 1s ease forwards;
}

.animate-fade-in-scale {
  animation: fade-in-scale 1s ease forwards;
}

.animate-fade-in-delay {
  animation: fade-in 1s ease forwards;
  opacity: 0;
}

.animate-text-blink {
  animation: text-blink 1.5s infinite ease-in-out, fade-in 1s ease forwards;
}

.animate-fade-in-delay:nth-of-type(1) { animation-delay: 1s; }
.animate-fade-in-delay:nth-of-type(2) { animation-delay: 2s; }
.animate-fade-in-delay:nth-of-type(3) { animation-delay: 3s; }

@keyframes progressBar {
  from { width: 0%; }
  to { width: 100%; }
}

.toast-progress {
  animation: progressBar 2s linear forwards;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.animate-bounceIn {
  animation: bounceIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

.inter-tight-p{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 420;
  font-style: normal;
}

@keyframes dots-flicker {
  0% {
    opacity: 0.08;
  }

  25% {
    opacity: 0.20;
  }

  50% {
    opacity: 0.29;
  }

  75% {
    opacity: 0.20;
  }

  100% {
    opacity: 0.08;
  }
}

.animate-dots {
  animation: dots-flicker 5s infinite ease-in-out;
}